*, *::before ,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 15%, 10%);
    color: white;
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
width: 16px;
height: 16px;
}

::-webkit-scrollbar-track {
background-color: hsl(210, 15%, 10%);
}

::-webkit-scrollbar-thumb {
background-color: hsl(0, 0%, 30%);
border-radius: 8px;
border: 4px solid hsl(0, 0%, 10%);
}



.flex{
    display: flex;
    align-items: center;
}

.center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.search-box{
    width: 100%;
    height: 56px;
}

#search{
    background-color: hsl(210, 15%, 10%);
    color: white;
    border: 2px solid hsl(200, 0%, 40%);
    margin: 0px 8px;
    padding: 0px 8px;
    border-radius: 2px;
    outline: none;
    height: 40px;
    width: 50vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search:focus{
    border: 2px solid hsl(200, 0%, 60%);
}


.search-tag-box-wraper{
    width: 100%;
}

.search-tag-box{
    width: 50vw;
    list-style: none;
    min-height: 56px;
    flex-wrap: wrap;
}

.search-tag-wraper{
    padding: 0px 0px 0px 8px;
    border: 1px solid white;
    margin: 4px;
    border-radius: 2px;
    height: 30px;
    cursor: pointer; 
}

.search-tag-wraper:first-of-type{
    margin-left: 0px;
}
.search-tag-wraper:last-of-type{
    margin-right: 0px;
}

.search-tag-number{
    background-color: white;
    color:  hsl(210, 15%, 10%);
    margin-left: 8px;
    height: 100%;
    padding: 0px 4px;
}

.card-container{
    width: 100%;
    height: max-content;
    padding: 20px;
}

.card-box{
    width: 50vw;
    margin: 15px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color:  hsl(210, 15%, 15%);
}

.card-title{
    font-size: 1.5em;
    padding: 8px 0px;
    display: block;
    width: 100%;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: white;
}

.card-title:hover{
    text-decoration: unberline;
    text-decoration-color: white;
}

.card-tag-box{
    list-style: none;
    min-height: 40px;
    flex-wrap: wrap;
    padding: 8px 0px;
}

.card-tag{
    padding: 0px 8px;
    border: 1px solid white;
    margin: 4px;
    height: 30px;
    border-radius: 2px;
}

.card-description{
    padding: 8px 0px;
    text-align: justify;
    color: hsl(0, 0%, 80%);
}

.card-link{
    height: 40px;
    padding: 0px 8px;
    color: white;
    width: max-content;
}

.card-link:hover{
    color: hsl(0, 0%, 80%);
}

.hide{
    display: none;
}

.text{
    background-color: red;
    height: 100px;
    width: 100px;
}