/* Basics */
:root{
    --body-bg:hsl(210, 15%, 10%);
    --body-c: hsl(210, 15%, 80%);
    --main-w: 90vw;
    --main-max-w: 768px;
    --accent: hsl(200, 100%, 50%);
}

html{
    overflow: scroll;
    scroll-behavior: smooth;
}

*, *::before ,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: hsl(210, 15%, 30%) var(--body-bg);
}

body{
    background-color: var(--body-bg);
    color: var(--body-c);
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* scrollbar */

::-webkit-scrollbar {
width: 16px;
height: 16px;
}

::-webkit-scrollbar-track {
background-color: var(--body-bg);
}

::-webkit-scrollbar-thumb {
background-color: hsl(0, 0%, 30%);
border-radius: 8px;
border: 4px solid hsl(0, 0%, 10%);
}

/* Utility classes */

.flex{
    display: flex;
    align-items: center;
}

.center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.search-box{
    width: 100%;
    height: 100px;
}

/* Searchbox */

#search{
    background-color: var(--body-bg);
    color: var(--body-c);
    border: 2px solid hsl(200, 15%, 40%);
    margin: 0px 8px;
    padding: 0px 28px;
    border-radius: 2px;
    outline: none;
    height: 50px;
    border-radius: 25px;
    max-width: var(--main-max-w);
    max-width: var(--main-max-w);
    width: var(--main-w);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#search:focus{
    border: 2px solid var(--accent);
}


/* Filterbox */

.filter-box-wraper{
    width: 100%;
}

.filter-box{
    max-width: var(--main-max-w);
    width: var(--main-w);
    list-style: none;
    min-height: 56px;
    flex-wrap: wrap;
}

.filter-tag-wraper{
    --filter-tag-bg: var(--body-bg);
    --filter-tag-c: var(--body-c);
    padding: 0px 0px 0px 8px;
    border: 1px solid var(--filter-tag-c);
    color: var(--filter-tag-c);
    background-color: var(--filter-tag-bg);
    margin: 6px 8px;
    border-radius: 2px;
    height: 30px;
    cursor: pointer; 
    user-select: none;
}

[data-filter-tag-active="true"]{
    --filter-tag-bg: var(--body-bg);
    --filter-tag-c: var(--accent);
}

[data-filter-tag-active="false"]:hover{
    --filter-tag-c: white;
}

.filter-tag-number{
    background-color: var(--filter-tag-c);
    color: var(--filter-tag-bg);
    margin-left: 8px;
    height: 100%;
    padding: 0px 4px;
}

/* Cardbox */

.card-container{
    width: 100%;
    height: max-content;
    padding-bottom: 50px;
}

.card-box{
    max-width: var(--main-max-w);
    width: var(--main-w);
    margin: 15px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color:  hsl(210, 15%, 15%);
}

.card-title{
    font-size: 1.5em;
    padding: 8px 0px;
    display: block;
    width: max-content;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--accent);
}

.card-title:hover{
    text-decoration: unberline;
    text-decoration-color: var(--accent);
}

.card-tag-box{
    list-style: none;
    min-height: 40px;
    flex-wrap: wrap;
    padding: 8px 0px;
}

.card-tag{
    padding: 0px 8px;
    border: 1px solid white;
    margin: 4px;
    height: 30px;
    border-radius: 2px;
    color: white;
}

.card-description{
    padding: 8px 0px;
    text-align: justify;
    color: hsl(0, 0%, 80%);
}

.card-link{
    height: 40px;
    padding: 0px 8px;
    color: var(--body-c);
    width: max-content;
}

.card-link:hover{
    color: var(--accent);
}

/* hide */

.hide{
    display: none;
}